{% extends "layout.html" %}


{% block title %}
    Edit Photo
{% endblock %}


{% block content %}
    <h2 class="text-2xl font-semibold text-center mb-6">Edit Photo</h2>
    <form method="post" enctype="multipart/form-data" action="{% url 'edit_photo' photo.id %}" class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-md">
        {% csrf_token %}
        {{ photo_form.as_p }}
        {{ category_form.as_p }}
        
        <div class="mt-4 flex justify-between">
            <a href="{% url 'profile' %}" class="bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded-lg">Cancel</a>
            <button type="submit" class="bg-indigo-600 hover:bg-indigo-700 text-white px-4 py-2 rounded-lg">Save Changes</button>
        </div>
    </form>
{% endblock %}
